* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Basic', sans-serif;
}

.work{
  background: #020E35;
  font-family: 'Basic', sans-serif;
}
.work .line{
  width: 100px;
  border-bottom: 1px solid #E73587;
  margin: -5px auto;
}

.title {
  margin-top: 300px ;
  color: white;
  font-size: 40px;
  text-align: center;
}

.work .kotak1 {
  position: relative;
  width: 587px;
  height: 390px;
  background: #F09532;
  margin: 80px 70px;
}

.work .kotak2 {
  position: relative;
  width: 587px;
  height: 390px;
  background: #8C32F0;
  margin: 0px 640px;
}

.work .kotak3 {
  position: relative;
  width: 587px;
  height: 390px;
  background: #E73587;
  margin: 50px 60px;
}

.work .kotak4 {
  position: relative;
  width: 587px;
  height: 390px;
  background: #32D6F0;
  margin: 0px 640px;
}

.work .image1 {
  position: relative;
  width: 433px;
  height: 390px;
  margin: 0 50px;
}

.work .image2 {
  position: relative;
  width: 433px;
  height: 390px;
  margin: 0 80px;
}

.work .image3 {
  position: relative;
  width: 587px;
  height: 324.6px;
  margin: 50px 0px;
}

.work .image4 {
  position: relative;
  width: 587px;
  height: 324.6px;
  margin: 50px 0px;
}

.brand {
  position: absolute;
  width: 492px;
  height: 80px;
  left: 610px;
  top: 0px;
  color: white;
  font-weight: 400;
  font-size: 30px;
  line-height: 38px;
}

.brand1 {
  position: absolute;
  width: 492px;
  height: 80px;
  right: 615px;
  top: 0px;
  color: white;
  font-weight: 400;
  font-size: 30px;
  text-align: right;
}

.work .input {
  color: white;
  position: absolute;
  width: 600px;
  left: 610px;
  top: 50px;
  letter-spacing: 3px;
}

.work .input1 {
  color: white;
  position: absolute;
  width: 600px;
  right: 350px;
  top: 50px;
  letter-spacing: 3px;
}

.work .p {
  color: white;
  position: absolute;
  width: 492px;
  height: 80px;
  left: 610px;
  top: 110px;
  line-height: 20px;
}

.work .p1 {
  color: white;
  position: absolute;
  width: 492px;
  height: 80px;
  right: 610px;
  top: 110px;
  text-align: right;
}

.tombol {
  color: #ffffff;
  border: none;
  position: relative;
  width: 140px;
  height: 40px;
  font-size: 0.75em;
  background: linear-gradient(270deg, #8C32F0 0%, #E73587 100%);
  margin: 30px 600px;
}

/* CSS sebelumnya */

/* Media queries untuk layar berukuran kecil */
@media only screen and (max-width: 1254px) {
  .work .kotak1,
  .work .kotak2,
  .work .kotak3,
  .work .kotak4 {
    width: 100%;
    height: auto;
    margin: 30px 0;
    padding: 10px;
  }
.work{
  padding: 0 15px 20px 15px;
}
  .work .image1,
  .work .image2,
  .work .image3,
  .work .image4 {
    width: 100%;
    height: auto;
    margin: 5px 0;
  }

  .brand,
  .brand1,
  .work .input,
  .work .input1,
  .work .p,
  .work .p1 {
    position: static;
    width: auto;
    height: auto;
    margin: 10px;
    text-align: center;
  }

 
  .tombol {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
